.idea
/__pycache__
venv

/contas/__pycache__
/contas/migrations/__pycache__

/core/__pycache__

/extrato/__pycache__
/extrato/migrations/__pycache__


/perfil/__pycache__
/perfil/migrations/__pycache__

/planejamento/__pycache__
/planejamento/migrations/__pycache__
